<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>*</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<h1>Lifos*</h1>
			<p>An alternative search for Lifos</p>
			<div id="search_field_container" v-if="render">
				<div id="search_field">
					<input class="search-field" id="autocomplete_input" type="text" v-model="suggestion" disabled="disabled" />
					<input class="search-field" id="search_input" type="text" v-model="searchTerm" v-on:keyup.13="searchTagIndex" v-on:keyup="updateSuggestion" placeholder="filter tag" />
				</div>
			</div>

			<ul id="filter_list">
				<li class="filter-item" v-for="tag in filter" v-on:click="removeTag">
					{{tag.label}}
				</li>
			</ul>
			<ul>
				<li v-for="(entry, key) in filtered">
					<h3>
						{{ entry.sv.title }}
					</h3>
					<p>
						{{ entry.sv.abstract }}
					</p>
					<ul class="tag-list">
						<li class="tag-item" v-for="tag in entry.sv.tags" v-on:click="addTag">{{tag}}</li>
					</ul>
				</li>
			</ul>
		</div>

		<script type="text/javascript" src="https://unpkg.com/vue"></script>
		<script type="text/javascript" src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
		<script type="text/javascript" src="scripts/index.js"></script>
		<script type="text/javascript">

			var render = false;
			var searchTerm = '';
			var suggestion = '';
			var filter = {};
			var sumData = {};

 			var vm = new Vue({
 				el: '#app',
 				data: {
 					render,
 					searchTerm,
 					suggestion,
 					filter,
 					sumData
 				},
 				computed: {
 					filterLogic: function(){

 						// set up variables
 						var allAvaliableSummaries = {};
 						var filteredSummaries = {};

 						// populate allAvaliableSummaries
 						for(var tagMeta in this.filter){
 							for(var sumIndexRef in this.filter[tagMeta].sum_index_refs){
 								// get sum id
 								var sumId = this.filter[tagMeta].sum_index_refs[sumIndexRef].sum_index_ref;
 								var sumDataRef = cache.sumIndex[sumId].sum_data_ref;
 								allAvaliableSummaries[sumId] = sumDataRef;
 							}
 						}
 						filteredSummaries = allAvaliableSummaries;

 						// Go through every summary
						for(var sum in allAvaliableSummaries){
							// Get associated tags
							var sumMetaRef = cache.sumIndex[sum].sum_meta_ref;
							var includedTags = [];
							for(var tag in cache.sumMeta[sumMetaRef].tag_index_refs){
								var tagId = cache.sumMeta[sumMetaRef].tag_index_refs[tag].tag_index_ref;
								includedTags.push(tagId);
							}
							// Check if a tag is missing
							for(var tagMeta in this.filter){
								var flag = false;
								var tagId = this.filter[tagMeta].label;
								for(var i = 0; i < includedTags.length; i++){
									if(tagId == includedTags[i]){
										flag = true;
									}
								}
								// If tag is missing delete the summary from filteredSummaries
								if(!flag){
									console.log(sum, "NOT found in",tagId);
									delete filteredSummaries[sum];
								} else {
									console.log(sum, 'FOUND in', tagId);
								}
							}
						}
						console.log("Number of found posts:",Object.keys(filteredSummaries).length);

						//return an array of sum ids : keys
 						return filteredSummaries;
 					},
 					filtered: function(){
 						var obj = {};
 						for(var id in this.filterLogic){
 							var dataKey = this.filterLogic[id];
 							if(!this.sumData[id]){
 								Vue.set(this.sumData, id, {
 									en: {
 										title: "...",
 										abstract: "...",
 										summary: "...",
 										tags: []
 									},
 									sv: {
 										title: "...",
 										abstract: "...",
 										summary: "...",
 										tags: []
 									}
 								});
 								storeSumData(id,dataKey);
 							}
 							// console.log(this.sumData[id]);
 							obj[id] = this.sumData[id];
 						}
 						// console.log(obj);

 						return obj;
 					}
 				},
 				methods: {
 					searchTagIndex: function(ev){
 						var query = this.suggestion || this.searchTerm;
 						searchTag(query);
 					},
 					updateSuggestion: function(ev){
 						if(this.searchTerm != ""){
 							this.suggestion = suggestTag(this.searchTerm);
 						} else {
 							this.suggestion = "";
 						}
 					},
 					addTag: function(ev){
 						searchTag(ev.target.innerText);
 					},
 					removeTag: function(ev){

 						var tagRef = getTagMetaRef(ev.target.innerText);
 						console.log('')
						Vue.delete(this.filter, tagRef);
 					}
 				}
 			});

		</script>
	</body>
</html>