
#search_field_container {
	margin-left: auto;
	margin-right: auto;
}

#search_field {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	min-height: 36px;
	min-width: 220px;
	max-width: 300px;
}

.search-field {
	position: absolute;
	background: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: inline-block;
	border: 2px solid grey;
	padding: 4px 8px 4px 8px;
	box-sizing: border-box;
	font-size: 22px;
}

.search-field:focus{
	border: 2px solid black;
}

#filter_list {
	margin: 0;
	padding: 0;
}

.filter-item {
	display: inline-block;
	padding: 4px 8px 5px 8px;
	margin: 4px 8px 4px 8px;
	border-radius: 5px;
	color: white;
	background-color: grey;
}

.tag-list {
	margin: 0;
	padding: 0;
}

.tag-item {
	display: inline-block;
	padding: 1px 5px 2px 5px;
	margin: 2px 4px 2px 4px;
	border-radius: 5px;
	color: white;
	background-color: #00FFFF;
	font-size: 12px;
}